<div class="container"> 
    <form  class="form-floating" [formGroup]='loginform'>
    <div class="form-floating">
        <input type="email" formControlName='email' class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" formControlName='password' class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="btn btn-primary" (click) = 'login()' [disabled]='!loginform.valid'>Login</button>
</form>
<div>Don't have an accoung <a routerLink = '/Register' >Sign Up</a></div>
</div>